<footer class=" d-flex justify-content-between align-items-end">
    <div class="footer-div">
        <p class="mb-0"><i class="fa-regular fa-copyright"></i> 2023 All Rights Reserved.
            <span>Stackup</span>
        </p>
    </div>
    <div class="d-flex">
        <div class=" footer-link me-3"><a href="#">Terms of Use</a></div>
        <div class=" footer-link"><a href="#">Privacy Policy</a></div>
    </div>
</footer>