<header class="body-header d-flex justify-content-between  mb-3">
    <div class="heading-body d-flex flex-column">
        <p class="mb-0">Dashboard / Employees</p>
        <h4>Employees</h4>
    </div>
    <div class="heading-search p-3 d-flex align-items-center gap-2">
        <div class="input-group search-box-top flex-nowrap">
            <input id="input" type="text" class="form-control search-box ps-5" placeholder="Search"
                aria-label="Username" aria-describedby="addon-wrapping">
            <span class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>

        <div class="notify d-flex gap-1">
            <div class="notify-div d-flex align-items-center justify-content-center">
                <i class="fa-regular fa-bell"></i>
            </div>
            <div class="notify-div">
                <img src="images\Elipse 5.png" alt="">
            </div>
        </div>
    </div>
</header>
