<div class="section-body d-flex justify-content-center mb-3">
    <div class="card card-scroll overflow-auto">
        <div class="card-body">


            <div class="d-flex flex-column align-items-center card-body-details mb-5">
                <img src="images\Background Image.png" alt="">
                <div class="div-round">
                    <img class="div-round-img" id="viewEmpImg" alt="">
                </div>
            </div>

            <div class="d-flex flex-column align-items-center employee-details-name pt-3 mb-3">
                <h3 id="name"></h3>
                <p id="email"></p>
            </div>

            <div class="d-flex flex-column">
                <div class="row mb-3">



                    <div class="col-4 ">
                        <div class="card label-card p-3">
                            <label for="">Gender</label>
                            <label for="" id="gender"></label>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="card label-card p-3">
                            <label for="">Age</label>
                            <label for="" id="age"></label>
                        </div>
                    </div>
                    <div class="col-4 ">
                        <div class="card label-card p-3">
                            <label for="">Date of Birth</label>
                            <label for="" id="dob"></label>
                        </div>
                    </div>
                </div>

                <!-- second -->

                <div class="row mb-3">
                    <div class="col-6">
                        <div class="card label-card p-3">
                            <label for="">Mobile Number</label>
                            <label for="" id="phone"></label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card label-card p-3">
                            <label for="">Qualifications</label>
                            <label for="" id="qualification"></label>
                        </div>
                    </div>
                </div>

                <!-- third -->

                <div class="row mb-3">
                    <div class="col-6">
                        <div class="card label-card p-3">
                            <label for="">Address</label>
                            <label for="" id="address"></label>
                            <label for="" id="addressRest"></label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card label-card p-3">
                            <label for="">username</label>
                            <label for="" id="username"></label>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <button class="btn btn-lg btn-danger btn-fill text-white ms-1 p-3 px-4 "
                        id="deleteBtn">Delete</button>
                    <button class="btn btn-lg bg-color btn-fill text-white ms-1 p-3 px-4"
                        id="editBtn">Edit details</button>
                </div>


            </div>

        </div>
    </div>
</div>